---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import Socials from "@components/Socials.astro";
---

<Layout title="About me" description="All about me" route="about">
  <Container>
    <h1 class="animate font-semibold text-black dark:text-white">
      About me 🧑‍💻
    </h1>

    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <span class="animate">
            <p>Hi, I'm Ian.</p>

            <p>
              I'm currently a security engineer on 
              <Link external href="https://www.extrahop.com/">
                Extrahop Network's
              </Link>
              threat research team where I investigate threat actors and 
              their TTPs.
            </p>
            <p>
              I enjoy playing CTFs and have 
              <Link external href="https://attack.mitre.org/software/S1040/">
                contributed
              </Link>
              to MITRE ATT&CK. 
            </p>
            <p>
              Catch me at Def Con, BSides Seattle, HushCon, 
              BlueHat, BlackHat, CYBERWARCON, SLUETHCON, Wild West 
              Hacking Fest, and other cons near you!
            </p>
          </span>

        </article>

        <section>
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">Socials</h2>
          </div>

          <article>
            <span class="animate">
              <p>
                <Socials />
              </p>
            </span>
          </article>
        </section>

        <section>
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">GPG</h2>
          </div>

          <article>
            <span class="animate">
              <p>
                <pre
                  class="bg-neutral-50 text-neutral-800 dark:bg-neutral-900 dark:text-neutral-50"><code>-----BEGIN PGP PUBLIC KEY BLOCK-----
Comment: 841D 1C12 E67F AFD5 992B  043A C8BD F17B 8B3C 1124

mDMEZYR5qxYJKwYBBAHaRw8BAQdAuSEPN/ZpmLQvBpUyGAk4Jny7mH/o9sq39WUG
6gB73aG0I0lhbiBNY2theSA8aXAubWNrYXlAcHJvdG9ubWFpbC5jb20+iJMEExYK
ADsWIQSEHRwS5n+v1ZkrBDrIvfF7izwRJAUCZYR5qwIbAwULCQgHAgIiAgYVCgkI
CwIEFgIDAQIeBwIXgAAKCRDIvfF7izwRJI/vAQDxTU35d4O56Saii2G4cIffwVkN
oDWJplm9pCr95ftwSgEAqE3jh0m5mZ5yhLuR/3SWYQZfB6i/+KpX6J58P9iAQwG4
OARlhHmrEgorBgEEAZdVAQUBAQdA4SpgEu3CLW6J7c/ljtGToKHb6xale7VQHszj
nmYrzScDAQgHiHgEGBYKACAWIQSEHRwS5n+v1ZkrBDrIvfF7izwRJAUCZYR5qwIb
DAAKCRDIvfF7izwRJKjxAQDHlthidvj8itvJcfY/qQ/xMsCKnTWGAy05xozcw4JM
xgEA8Ozj2zEQkcJ2YnK29KcCdppSUYA6mPk+TnE75gHJzQo=
=bonf
-----END PGP PUBLIC KEY BLOCK-----</code></pre>
              </p>
            </span>
          </article>
        </section>
      </section>
    </div>
  </Container></Layout
>
